body {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 600px;
	height: auto;
	margin: auto;
	font-family: Verdana;
	font-size: 1.1em;
	background: url("https://i.stack.imgur.com/vO2A7.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	background-attachment: fixed;
}

body::after {
	content: "";
	background-color: hsla(210, 100%, 20%, 75%);
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: -1; 
}

input {
	font-family: Verdana;
	font-size: 1em;
	height: 24px;
	padding: 4px 15px;
	border-radius: 18px;
	border-style: none;
}

select {
	font-family: Verdana;
	font-size: 1em;
	height: 36px;
	padding: 2px 15px;
	border-radius: 18px;
}

p {
	margin: 0px;
	padding: 0px;
}

label {
	display: flex;
	flex-direction: row;
	align-items: center;
}

label>input {
	margin: 3px 15px 3px 10px;
}

textarea {
	font-family: Verdana;
	max-width: 600px;
}

.survey-entry {
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.entry-label {
	background-color: #003366;
	font-weight: bold;
	padding: 0px 5px 0px 5px;
	margin-right: auto;
    margin-left: 3px;
    position: relative;
    top: -15px;
}

.more-info {
	font-size: 0.75em;
	font-weight: normal;
}

.multi-choices {
	border-color: #336699;
	border-width: 2px;
	border-style: solid;
	border-radius: 3px;
}

#title {
	font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 10px;
	color: #ffffff;
}

#description {
	font-size: 0.75em;
    margin: 0px;
	color: #ffffff;
}

form {
	width: 100%;
	background-color: #003366;
	color: #ffffff;
	border-radius: 8px;
	padding: 20px 30px 20px 30px;
	margin-top: 25px;
    margin-bottom: 20px;
	box-shadow: 5px 5px 5px 3px hsla(210, 100%, 10%, 60%);
}

#submit {
	background-color: #ffcc66;
	font-weight: bold;
	color: #003366;
	width: 100%;
	margin-top: 20px;
	font-size: 18px;
	height: 2em;
	border-radius: 3px;
}

#submit:hover {
  cursor: pointer;
}
input, select, textarea {
  outline: none;
  border: 2px solid hsl(210, 100%, 20%);
}

input:focus, select:focus, textarea:focus {
  outline: none;
  border: 2px solid hsl(210, 100%, 33%);
}

@media (max-width: 700px) {
	body {
		width: 480px;
	}
	
	form {
		padding: 20px 0px 20px 0px;
		border-radius: 0px;
		box-shadow: none;
	}
}